<%- include("partials/header"); -%>

  <h1><%=title%></h1>
  <p><%=content%></p>

  <form action="/delete" method="post">
    <button class="delete btn btn-danger" type="submit" name="Delete" value="<%=_id %>">Remove</button>
  </form>

<%- include("partials/footer"); -%>
